.wrong {
  border: 1px solid var(--red-color);

  &:active, &:hover, &:focus {
    border: 1px solid var(--red-color);
  }
}

@media screen and (1px<= width <= 500px) {
  .button-outer-modal {
    flex-grow: 1;
  }
}
