.todolist {
  width: 100%;
  min-height: 800px;
  border: 2px solid var(--main-color);
  padding: 0 20px;
  border-radius: 8px;
  margin-top: 100px;
}

.title {
  display: flex;
  align-items: center;
  height: 100px;
  font-size: 44px;
  user-select: none;
}

.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 25px;
  margin-bottom: 30px;
}






