.todo-item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;

  &:last-child {
    margin-bottom: 20px;
  }
}

.completed-todo {
  border: 1px solid var(--green-color);
  text-decoration: line-through;
}

.uncompleted-todo {
  border: 1px solid #d58f12;
}

.text {
  width: 100%;
  text-align: left;
  padding-right: 30px;
  font-size: 22px;
  user-select: none;
}

.icon {
  padding-left: 10px;
  padding-right: 15px;
  font-size: 26px;
}


.delete-button {
  position: absolute;
  background: var(--white-color);
  top: 0;
  right: 0;
  padding: 5px;
  border: none;

  &:hover {
    color: var(--main-color);
  }

  &:active {
    outline: none;
  }
}

.delete-icon {
  font-size: 22px;
}
